body {
    height: 600px;
    width: 400px;
    background-color: white;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/background.png');
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
    opacity: 0.7; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the container content */
}
#switchBTN {
    width: 100px;
}

.card {
    background-color: rgb(255, 255, 255);
}

.card-body p {
    font-family: 'Times New Roman', Times, serif;
}

.card-body p span {
    font-style: italic;
}

.img-marquee {
    height: 50%;
    width: 100%;
    /* position: relative; */
}

.logo-text{
    position: fixed;
    margin-top: -14%;
    margin-left: 40%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.text {
    font-size: 16px;
    margin-right: 10px;
}